/* ===== ОСНОВА ===== */

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  background-color: #f3f1e8;
  color: #332616;

  font-family: "Segoe UI", Arial, sans-serif;

  min-height: 100vh;
}

/* ===== ВЕРХНЄ МЕНЮ ===== */

.header {
  height: 105px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 7%;

  border-bottom: 1px solid #768064;

  position: relative;
}

/* посилання Gallery / Stock */

.navigation {
  display: flex;
  gap: 90px;
}

.navigation a {
  color: #332616;
  text-decoration: none;

  font-family: Georgia, serif;
  font-size: 21px;
  font-weight: 400;

  letter-spacing: 1px;

  transition: 0.2s;
}

.navigation a:hover {
  opacity: 0.6;
}

/* підкреслення активної сторінки */

.navigation .active {
  text-decoration: underline;
  text-underline-offset: 6px;
}

/* ===== КНОПКА МЕНЮ ===== */

.menu-button {
  width: 45px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  cursor: pointer;
}

.menu-button span {
  display: block;

  width: 100%;
  height: 2px;

  background-color: #332616;
}

/* ===== ГАЛЕРЕЯ ===== */

.gallery {
  width: 85%;
  max-width: 1200px;

  margin: 80px auto;

  display: grid;

  grid-template-columns: repeat(2, 1fr);

  column-gap: 130px;
  row-gap: 90px;
}

/* ===== КАРТИНА ===== */

.art-card {
  text-decoration: none;
  color: #332616;

  text-align: center;
}

/* фото */

.art-card img {
  width: 100%;
  height: 420px;

  object-fit: cover;

  border-radius: 18px;

  display: block;

  transition: 0.3s;
}

/* невелике збільшення */

.art-card:hover img {
  transform: scale(1.015);
}

/* назва картини */

.art-card p {
  margin: 15px 0 0;

  font-family: Georgia, serif;

  font-size: 20px;
  font-weight: 400;

  letter-spacing: 1px;
}

/* ========================= */
/*          ТЕЛЕФОН          */
/* ========================= */

@media (max-width: 650px) {
  .header {
    height: 75px;

    padding: 0 20px;
  }

  /* меню */

  .navigation {
    gap: 35px;
  }

  .navigation a {
    font-size: 16px;
  }

  /* три лінії */

  .menu-button {
    width: 32px;
    gap: 6px;
  }

  .menu-button span {
    height: 1.5px;
  }

  /* галерея */

  .gallery {
    width: 88%;

    margin: 45px auto;

    grid-template-columns: repeat(2, 1fr);

    column-gap: 25px;
    row-gap: 50px;
  }

  /* фото */

  .art-card img {
    height: 210px;

    border-radius: 12px;
  }

  /* назви */

  .art-card p {
    margin-top: 10px;

    font-size: 15px;
  }
}
